#navbar-scrollspy {
  width: 100%;
	display: block;
	background-color: #fa2243;
}

#navbar-scrollspy .nav {
	align-content: center;
	justify-content: space-around;
	align-items: center;
}

#navbar-scrollspy .nav-link {
  transition: opacity 0.4s ease, transform 0.4s ease;
  color: #facdd3;
	opacity: 1;
  font-size: 13px;
  z-index: 1;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
}
#navbar-scrollspy .nav-link i {
	opacity: 1;
	transition: opacity 0.4s ease, transform 0.4s ease;
}
#navbar-scrollspy .nav-link.active {
	background-color: unset;
	opacity: 1;
	color:white;
	font-weight: 600;
}
#navbar-scrollspy .nav-link.active ~ a{
	color:white;
	opacity: 0.6;
	font-weight: 300;
}
#navbar-scrollspy .nav-link.active ~ a i {	
  opacity: 0;
}
