.scroll-reveal-container {
  font-size: 2rem;
  line-height: 1.5;
  color: black;
  display: flex;
  flex-wrap: wrap;
}

.scroll-word {
  opacity: 0.8;
	color:#2e1212;
  transition: all 0.1s ease;
}
.bg_dark .scroll-word {color:rgb(244, 237, 237)}

.scroll-word.visible {
  opacity: 1;
	color:#1e0508;
}
.bg_dark .scroll-word.visible{ color:white}